<!DOCTYPE html>
<html>
  <%= render "layouts/partials/header" %>
  <body>
    <div class="wrapper_content">
      <header>
        <%= render "layouts/partials/navbar" %>
      </header>

      <div class="page_content">
        <div class="row">
          <div class="col-md-12">
            <%= render partial: "layouts/partials/notifications", locals: {notice:, alert:} %>

            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
