<!DOCTYPE html>
<html>
  <%= render "layouts/partials/graph_header" %>

  <body>
    <div class="wrapper_content">
      <header>
        <%= render "layouts/partials/navbar" %>
      </header>

      <div class="page_content">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
